body{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header{
    height: 70px;
    background: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
}

#app{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    user-select: none; 
}

.app-header{
    font-size: 24px;
    padding-bottom: 10px;
}

.app-input{
    padding: 5px;
    margin: 5px;
}

input{
    border-color: black;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

.app-button{
    font-family: Roboto, sans-serif;
    border-style: none;
    border-radius: 8px;
    background: rgb(192, 190, 190);
    margin-left: 20px;
    padding: 5px;
    transition: all 0.06s ease;
}

.button-playing{
    transform: scale(1.1);
    border-color: #3b3b39;
    box-shadow: 0 0 1rem #706f6d;
}

/* Display div fills in space , makes footer bottom */
#appDisplay{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex:1;
}

.display {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    height: 500px;
    margin-left: 200px;
    margin-right: 200px;
    /* border-style: solid; */
}

.displayCard{
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: black;
    box-shadow: 5px 10px 8px #888888;
}

.displayImage{
    padding: 0px;
    margin: 0px;
    display: flex;
    
    height: 250px;
    width: 270px;

}

.cardTitle{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.cardDescription{
    width: 270px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    flex: 1;
    font-size: 22px
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding:30px;
    color: white;
    min-height:20px;
}

