body{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header{
    height: 70px;
    background: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
}

#app{
    background-color: #E5E7EB;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-content: space-arounds;
    padding: 40px;
    
}
.app-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.app-header{
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 10px;
}

.app-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

input{

    border-color: black;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

.app-button{
    font-family: Roboto, sans-serif;
    border-style: none;
    border-radius: 8px;
    background: #dadfe5; 
    margin-left: 20px;
    padding: 5px;
    transition: all 0.06s ease;
}

.buttons-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    /* border: solid; */
    padding-left: 5px;
    padding-right: 5px;
}

.button-playing{
    transform: scale(1.1);
    border-color: #3b3b39;
    box-shadow: 0 0 1rem #706f6d;
}

.displayNotes{
    display:flex;
    flex-direction: column;
    flex:1;
    
}




.errorDisplay,
.umbrellaDisplay,
.maskDisplay{
    display: flex;
    
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    margin:10px;
    background-color: whitesmoke;
}

.exclamation{
    margin-right: 10px;
}

.displayFunkySelection-Container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayFunkyCard{
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20p;
    border: solid;
    border-radius: 8px;
    background-color: whitesmoke;
    margin-top: 15px;
    
}

.funkyCardTitle{
    display: flex;
    justify-content: center;
    margin-right: 80px;
    font-weight: bold;
}

.funkyCardButton{
    padding:5px;
    margin: 10px;
    background-color: #dadfe5;
    
}

.display {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    height: 500px;
    margin-left: 200px;
    margin-right: 200px;
    /* border-style: solid; */
}

.displayCityTitle{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 26px;
}

.displayCard-Container{
    display: flex;
    flex:1;
    justify-content: space-evenly;
}

.displayCard{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: black;
    box-shadow: 5px 10px 8px #888888;
}

.displayImage{
    padding: 0px;
    margin: 0px;
    display: flex;
    
    height: 250px;
    width: 280px;

}

.cardTitle{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.cardDescription{
    margin-top: 30px;
    margin-left: 6px;
    width: 260px;
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    
    align-content: space-around;
    word-wrap: break-word;
    flex: 1;
    font-size: 19px
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding:30px;
    color: white;
    min-height:20px;
}

